@import url(./__avatar/profile__avatar.css);
@import url('./__info/profile__info.css');
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__edit-button/profile__edit-button.css);
@import url('./__edit-button-img/profile__edit-button-img.css');
@import url('./__row/profile__row.css');
@import url('./__text/profile__text.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__add-button-img/profile__add-button-img.css');

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }
}