@import url(./__container/popup__container.css);
@import url(./__input/popup__input.css);
@import url(./__form-title/popup__form-title.css);
@import url(./__status/popup__status.css);
@import url(./__button/popup__button.css);
@import url('./__close/popup__close.css');
@import url('./__close-img/popup__close-img.css');
@import url('./__container/_img/popup__container_img.css');
@import url('./__button/_disabled/popup__button_disabled.css');
@import url('./__error/popup__error.css');
@import url('./__error/_visible/popup__error_visible.css');
@import url('./__input/_type/popup__input_type_error.css');
@import './__submit-title/popup__submit-title.css';
@import './_is-opened/popup_is-opened.css';

.popup {
  display: flex;
  position: fixed; 
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  background: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}